body {
  font-family: 'Syne', sans-serif;
  margin: 0;
}

section {
  padding: 8px;
}

h2 {
  margin-top: 0;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu-link {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  margin-right: 10px;
  transition: color 125ms;
}
.menu-link:hover {
  color: skyblue;
}

.container {
  margin: 0 auto;
  width: 700px;
  padding: 40px 0;
}

.cls {
  background-color: blue;
  color: white;
}

.title {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 10px;
}

.subtitle {
  font-weight: bold;
}

.myname {
  font-size: 2em;
  font-weight: bold;
  margin: 0;
}
.myoccupation {
  font-size: 1em;
  font-weight: bold
}

#about > p::first-letter {
  font-weight: bold;
}

.skills {
  width: 70%;
}
.skill {
  display: flex;
  justify-content: space-between;
  font-size: 1.1em;
  margin-bottom: 8px;
}
.skill > * {
  margin-right: 10px;
}
.skill > *:nth-child(3) {
  flex-grow: 2;
}

meter {
  flex-grow: 4;
}
meter::-webkit-meter-bar {
  border-radius: 4px;
}
meter::-webkit-meter-optimum-value {
  background: #55ccaa;
}


#experience{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.exp-item {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 18px 0;
}
.exp-item-left {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  flex-grow: 1;
}
.exp-item-right {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  flex-grow: 2;
  max-width: 70%;

}

.date {
  color: #91bdec;
  font-size: 22px;
  justify-content: flex-end;
  padding: 0px 10px;
}
.company {
  font-size: 26px;
  justify-content: flex-end;
  padding: 5px 10px;
}
.job-title {
  font-weight: bold;
  font-size: 18px;
  justify-content: flex-start;
  padding: 0px 10px;
}
.job-description {
  padding: 5px 10px;
  justify-content: flex-start;
  overflow: wrap;
}

#socials {
  font-size: 0.8em;
}

*::selection {
  background: skyblue;
}