body {
  font-family: 'Syne', sans-serif;
  margin: 0;
}

h2 {
  margin-top: 0;
}

.container {
  margin: 0 auto;
  width: 700px;
  padding: 40px 0;
}

.cls {
  background-color: blue;
  color: white;
}

.links a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
}

.title {
  font-size: 24px;
  font-weight: bold;
}

.subtitle {
  font-weight: bold;
}

.myname {
  font-size: 2em;
  font-weight: bold;
}
.myoccupation {
  font-size: 1em;
  font-weight: bold
}

#socials {
  font-size: 0.8em;
  /* color: #757575 */
}